{
  "dev": {
    "host": "http://localhost:8000/api/",
    "username": "YOUR_DEV_USERNAME"
  },
    "test": {
        "host": "https://test.example.com/api/",
        "username": "YOUR_TEST_USERNAME"
    },
  "staging": {
    "host": "https://staging.example.com/api/",
    "username": "YOUR_STAGING_USERNAME"
  },
  "production": {
    "host": "https://api.example.com/",
    "username": "YOUR_PRODUCTION_USERNAME",
    "password": "YOUR_PRODUCTION_PASSWORD"
  }
}
