{
  "dev": {
    "password": "YOUR_DEV_PASSWORD"
  },
  "test": {
    "password": "YOUR_TEST_PASSWORD"
  },
  "staging": {
    "password": "YOUR_STAGING_PASSWORD"
  },
  "production": {
    "password": "YOUR_PRODUCTION_PASSWORD"
  }
}